{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block main %}

    <a href="{% url 'home:sair' %}">Sair</a>

    <h1>Clientes</h1>
    <ul>
    {% for person in persons %}
        <li>
            <a href="{% url 'clientes:client_detail' person.id %}">{{ person.first_name }}</a>
            <a href="{% url 'clientes:update_client' person.id %}">Editar</a>
            <a href="{% url 'clientes:delete_client' person.id %}" class="btn btn-danger">Excluir</a>
        </li>
    {% endfor %}
    
    <br />
    <a href="{% url 'clientes:new_client' %}" class="btn btn-primary">Novo cliente</a>
    </ul>
    
{% endblock %}