{% extends 'base.html' %}

{% load static %}

{% block title %}Detalhes{% endblock %}

{% block main %}

    <a href="{% url 'home:sair' %}">Sair</a>

    <h1>Cliente</h1>
    <p>Nome: {{ person.first_name }}</p>
    <p>Sobrenome: {{ person.last_name }}</p>
    <p>Idade: {{ person.age }}</p>
    <p>Salário: {{ person.salary }}</p>
    <p>Bio: {{ person.bio }}</p>
    <img src="{{MEDIA_URL}}{{ person.photo }}" alt="Foto" height="200">
    
    <br />
    <a href="{% url 'clientes:update_client' person.id %}">Editar</a>
    <a href="{% url 'clientes:delete_client' person.id %}" class="btn btn-danger">Excluir</a>
    
{% endblock %}