{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>

    <a href="{% url 'logout' %}">Sair</a>

    <h1>Cliente</h1>
    <p>Nome: {{ person.first_name }}</p>
    <p>Sobrenome: {{ person.last_name }}</p>
    <p>Idade: {{ person.age }}</p>
    <p>Salário: {{ person.salary }}</p>
    <p>Bio: {{ person.bio }}</p>
    <img src="{{MEDIA_URL}}{{ person.photo }}" alt="Foto" height="200">
    
    <br />
    <a href="{% url 'clientes:update_client' person.id %}">Editar</a>
    <a href="{% url 'clientes:delete_client' person.id %}">Excluir</a>
    
</body>
</html>